@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #1B1B1B;
}

/* Menu */
h1 {
	font-family: "Inter";
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	text-align: center;
	color: #FFFFFF;
	margin: 20px;
}

nav ul {
	display: flex;
	background-color: #F58200;
	list-style-type: none;
	font-family: "Inter";
	overflow: hidden;
}

nav ul li a {
	display: block;
	padding: 14px 16px;
	border-right: solid 1px #000000;
	border-radius: 0 5px 5px 0;
	text-decoration: none;
	text-align: center;
	color: #000000;
}

nav ul li a:hover {
	background-color: #DE5D0B;
}

/* Página principal */

.btn {
	display: flex;
	width: 100%;
	gap: 10px;
}

.btn input[type="text"] {
	border: 2px solid #000000;
	border-radius: 5px;
	width: 200px;
	padding: 10px;
	font-family: "Inter";
	font-style: bold;
	font-size: 100%;
}

.btn button, .add-form button{
	background-color: #F58200;
	border: none;
	border-radius: 5px;
	padding: 12px 17px;
	font-family: "Inter";
	font-size: 14px;
}

.btn button:hover, .add-form button:hover {
	background-color: #DE5D0B;
	cursor: pointer;
}

.btn form {
	display: flex;
	gap: 10px;
	margin-left: 10%;
}

.btn div {
	margin-left: auto;
	margin-right: 10%;
}

.btn a:link, .btn a:visited {
	display: inline-block;
	text-decoration: none;
	background-color: #F58200;
	border-radius: 5px;
	padding: 13px;
	font-family: "Inter";
	font-size: 14px;
	color: #000000;
	text-align: center;
}

.btn a:hover {
	cursor: pointer;
	background-color: #DE5D0B;
}

section {
	display: flex;
	flex-direction: column;
	margin: 0;
	width: 100%
}

.card {
	display: flex;
	background-color: #F58200;
	border-radius: 9px;
	width: 80%;
	margin: 1% 10%;
}

.card-read {
	display: flex;
	width: 5%;
	flex-shrink: 0;
	border-right: 1px solid #000000;
}

.card-read a {
	display: block;
	background-color: none;
	border: none;
	border-radius: 9px;
	text-decoration: none;
	text-align: center;
	font-family: "Inter";
	font-size: 100%;
	color: #FFFFFF;
	margin: auto;
	padding: 4px;
	width: 40%;
	height: 25%;
}

.card-read a:hover {
	cursor: pointer;
}

.card-content {
	width: 80%;
	display: column;
	flex-shrink: 0;
	border-right: 1px solid #000000;
}

.card-content h2 {
	font-family: "Inter";
	font-weight: bold;
	font-size: 24px;
	margin: 0;
	padding: 10px;
}

.card-content p {
	font-family: "Inter";
	font-weight: bold;
	font-size: 24px;
	color: #FFFFFF;
	margin: 0;
	padding: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card-btn {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	width: 15%;
	overflow: hidden;
}

.card-btn a {
	display: block;
	background: #33363F;
	border: none;
	border-radius: 9px;
	text-decoration: none;
	text-align: center;
	font-family: "Inter";
	font-size: 100%;
	color: #FFFFFF;
	margin: 2px 0 2px 0;
	padding: 4px;
	width: 40%;
	height: 25%;
}

.card-btn a:hover {
	cursor: pointer;
	text-decoration: none;
}

/* Página de cadastro */

.add-form form {
	margin: 2% 10%;
	text-align: center;
	color: #FFFFFF;
}

.add-form label {
	font-family: "Inter";
	font-size: 30px;
}

.add-form input, textarea {
	margin: 1% 0;
	padding: 10px;
	width: 50%;
	font-family: "Inter";
	font-size: 100%;
}

.add-form textarea {
	resize: none;
	height: 200px;
}

/* Página de delete */
h3 {
	font-family: "Inter";
	font-size: 50px;
	text-align: center;
	color: #FFFFFF;
}

.delete-card {
	display: flex;
	background-color: #F58200;
	border-radius: 9px;
	width: 80%;
	margin: 1% 10%;
}

.delete-card-content {
	width: 100%;
	display: column;
	flex-shrink: 0;
}

.delete-card-content h2 {
	font-family: "Inter";
	font-weight: bold;
	font-size: 24px;
	margin: 0;
	padding: 10px;
}

.delete-card-content p {
	font-family: "Inter";
	font-weight: bold;
	font-size: 24px;
	color: #FFFFFF;
	margin: 0;
	padding: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


.delete-btn form {
	position: relative;
}

.delete-btn form button {
	background: #33363F;
	border: none;
	border-radius: 9px;
	text-decoration: none;
	text-align: center;
	font-family: "Inter";
	font-size: 100%;
	color: #FFFFFF;
	margin: 0;
	padding: 20px;
	position: absolute;
	top: 50%;
	left: 10%;
}

.delete-btn form button:hover {
	cursor: pointer;
	text-decoration: none;
}


/* Página da anotação */

.note {
	background-color: #F58200;
	margin: 2% 10%;
	overflow: hidden;
	word-break: break-all;
	font-family: "Inter";
	border-radius: 5px;
}

.note h2 {
	font-size: 40px;
	text-align: center;
	margin: 2%;
}

.note p {
	font-size: 100%;
	margin: 2%;
	color: #FFFFFF;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
}
