@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #1B1B1B;
}

h1 {
	font-family: "Inter";
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	text-align: center;
	color: #FFFFFF;
	margin: 20px;
}

.btn {
	display: flex;
	width: 100%;
	gap: 10px;
}

.btn input[type="text"] {
	border: 2px solid #F58200;
	border-radius: 5px;
	width: 200px;
	padding: 10px;
	font-family: "Inter";
	font-style: bold;
	font-size: 100%;
}

.btn button {
	background-color: #F58200;
	border: none;
	border-radius: 5px;
	padding: 12px;
	font-family: "Inter";
	font-size: 14px;
}

.btn button:hover {
	cursor: pointer;
}

.btn form {
	display: flex;
	gap: 10px;
	margin-left: 10%;
}

.btn-add {
	margin-left: auto;
	margin-right: 10%;
}

section {
	margin: 0;
	width: 100%
}

.card {
	display: flex;
	background-color: #F58200;
	border-radius: 9px;
	width: 80%;
	margin: 3% 10%;
}

.card-content {
	width: 85%;
	display: column;
}

.card-content h2 {
	font-family: "Inter";
	font-weight: bold;
	font-size: 24px;
	margin: 0;
	padding: 10px;
}

.card-content p {
	font-family: "Inter";
	font-weight: bold;
	font-size: 24px;
	color: #FFFFFF;
	margin: 0;
	padding: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card-btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 20%;
	overflow: hidden;
}

.card-btn button {
	background: #33363F;
	border: none;
	border-radius: 9px;
	font-family: "Inter";
	font-size: 100%;
	color: #FFFFFF;
	margin: 2px 0 2px 0;
	width: 40%;
	height: 25%;
}

.card-btn button:hover {
	cursor: pointer;
}
