{% extends "layout.html" %}

{% set title = "Home" %}

{% block content %}
	<div class="btn">
		<form action="/readOne">
			<input type="text" id="fpesquisa" placeholder="Digite aqui..." name="pesquisa">
			<button class="btn-pesquisa" type="submit">Pesquisar</button>
		</form>
		<div><a href="/add">Adicionar</a></div>
	</div>

	{% for card in anotacoes %}
		<section>
			<div class="card">	
				<div class="card-content">
					<h2>{{ card.titulo }}</h2>
					<p>{{ card.conteudo }}</p>
				</div>
				<form class="card-btn" action="/delete" method="POST">
					<input type="hidden" id="fid" name="id" value="{{ card._id }}">
					<button type="submit">Delete</button>
				</form>
			<div>
		</section>
	{% endfor %}
{% endblock %}
